name: Build, push, test and deploy custom Exnaton Docker image

on:
  push:
    branches: [exnaton-master]
  release:
    types: [created]

jobs:
  build-play:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # docker
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: ${{ github.event_name == 'push' || github.event_name == 'release' }}
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Inject slugshort variables
        uses: rlespinasse/github-slug-action@v4

      - name: Set "latest" tag for each branch
        if: ${{ github.event_name != 'release' }}
        run: echo "image_name_latest=exnaton/workadventure-play:${{ env.GITHUB_REF_SLUG }}-latest" >> $GITHUB_ENV

      - name: Set immutable image tag
        run: echo "image_immutable_tag=exnaton/workadventure-play:${{ env.GITHUB_REF_SLUG }}-$(date +%F.%H%M%S)-${{ env.GITHUB_SHA_SHORT }}" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: thecodingmachine/workadventure-play

      - name: Build and push
        uses: docker/build-push-action@v3
        if: ${{ github.event_name == 'push' || github.event_name == 'release' }}
        with:
          context: .
          file: play/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ env.image_name_latest }},${{ env.image_immutable_tag }}
